# Python
__pycache__/
*.pyc

# Env
.env
.env.dev
.env.prod
.env.cloud
.env.*

# Secrets
*.pem
*.key
*.crt
secrets/
key/

# Logs
*.log
app_settings.json

# Builds
dist/
build/
.venv312/
.venv-linux/
docs/
*.exe

# IDE
.vscode/
!.vscode/
!.vscode/settings.json
!.vscode/tasks.json

# Extra
*.webp
*.csv
errorapi.txt
project_brain/
