# Python
__pycache__/
*.pyc

# Env
.env
.env.dev
.env.prod
.env.cloud
.env.*

# Secrets
*.pem
*.key
*.crt
secrets/
key/

# Logs
*.log
app_settings.json

# Builds
dist/
build/
.venv312/
docs/
*.exe

# IDE
.vscode/

# Extra
*.webp
*.csv
